* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/*Navigation-Bar*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #4f5d75;
    z-index: 100;
}

.logoTR {
    height: 40px;
    align-items: center;
    justify-content: center;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}


.nav-links li {
    list-style: none;
}

.nav-links a {
    color: #ecf0f1;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 14px;
    margin: 0 10px 0 10px;
    z-index: 101;
}

.nav-links a:hover {
    color: #ef8354;
    transition: .2s linear;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 35px;
    height: 3px;
    background-color: #ecf0f1;
    margin: 8px;
    border-radius: 1px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-8px, 7px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-8px, -7px);
}

#clock {
    color: #ecf0f1;
    font-weight: 700;
}





/*Content*/

main {
    background-color: whitesmoke;
    position: relative;
    z-index: 2;
}


.gallery-section h1 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 900;
    color: #414141;
    text-align: center;
}

.gallery-section {
    width: 100%;
    padding: 30px 0;
    background: #e1e2e2;
}

.inner-width {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.border1 {
    width: 200px;
    height: 4px;
    background: #ef8354;
    margin: 10px auto;
    margin-bottom: 30px;
}

.gallery-section .gallery {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.gallery-section .image {
    flex: 30%;
    overflow: hidden;
    cursor: pointer;
}

.gallery-section .image img {
    width: 100%;
    height: 100%;
    transition: 0.4s;
    padding: 5px;
}

.gallery-section .image:hover img {
    transform: scale(1.1);
}

.text-section {
    padding: 30px;
    display: flex;
    background: linear-gradient(to right, #607594, #4f5d75);
    width: 100%;
    font-size: 20px;
    color: #ffffff;
}

.text-section h1 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 900;
    color: #eeeeee;
    text-align: center;
}

.text {
    width: 80%;
    margin: auto;
    text-align: center;
}

.video-section {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2a446e;
    width: 100%;
}

.video-section h1 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 900;
    color: #eeeeee;
    text-align: center;
}

.vid-showcase {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;

}
 iframe{
    max-width: 100%;
}
.embed-video{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    width: 100%;
    height: auto;
}
.embed-video iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*footer*/

footer {
    background: #476481;
    padding: 50px 0;
}

.footer-container {
    max-width: 2000px;
    margin: auto;
    padding: 0 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    color: #ecf0f1;
}

.click {
    height: 50px;
    position: sticky;
    padding: 5px;
}

.logo {
    width: 150px;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    color: #ecf0f1;
    margin-right: 25px;
    font-size: 25px;
    text-decoration: none;
    transition: .3s linear;
}

.social-media a:hover {
    color: #ef8354;
}

.right-col {
    text-align: center;
    margin-bottom: 20px;
}

.right-col p {
    color: #ecf0f1;
    font-size: 24px;
    text-align: center;
}

.border2 {
    width: 200px;
    height: 4px;
    background-color: #ef8354;
    margin: 15px auto;
}



/*Buttons*/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.btn {
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    color: #f1f1f1;
    background: #ef8354;
    border: none;
    font-weight: 500;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s linear;
    margin: 5px;
}

.btn:hover {
    background: #ee650a;
    transition: .3s linear;
}

.txtb {
    flex: 1;
    text-align: left;
    padding: 10px 30px 10px 10px;
    margin-right: 5px;
    font-size: 16px;
    color: #2d3142;
    background: #d6d9da;
    border: none;
    font-weight: 500;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity .3s linear;
}

.txtb:hover {
    background-color: #ffffff;
    transition: .3s linear;
}

.txtb:focus {
    background-color: #ffffff;
}

/*media*/
@media screen and (max-width:1024px) {
    .nav-links {
        width: 60%;
    }

    .gallery-section .image {
        flex: 50%;
    }
}

@media screen and (max-width:768px) {
    body {
        overflow-x: hidden;
    }

    .gallery-section .image {
        flex: 100%;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #4f5d75;
        width: 30%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
    }
}

@media screen and (max-width:499px) {
    body{
        overflow-x: hidden;
    }
    .click {
        display: none;
    }
}

.nav-active {
    transform: translateX(0%);
    z-index: 100;
}

@media (prefers-color-scheme: dark) {
    .gallery-section {
        background: #212121;
    }

    .gallery-section h1 {
        color: #d1d1d1;
    }

    .text-section {
        background: #153647;
        color: #eeeeee;
    }

    .video-section {
        background: linear-gradient(to left, #141e30, #243b55);
    }

    .vid-showcase h1 {
        color: #eeeeee;
    }

    footer {
        background: #313f58;
        color: #dddddd;
    }
}

/*keyframes*/
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-8px, 7px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-8px, -7px);
}